<!DOCTYPE html>
<html lang="en">
  <%= render "shared/head" %>
  <body class="flex flex-col h-screen w-screen items-center justify-center bg-base-200">
    <%= yield %>
    <%= render "shared/flash_messages" %>
    <%= javascript_tag "app" %>
  </body>
</html>
